image: node:22

stages:
  - install
  - build
  - deploy

cache: {}

variables:
  NODE_VERSION: "22"

install_dependencies:
  stage: install
  before_script:
    - rm -rf package-lock.json node_modules
  script:
    - npm i --legacy-peer-deps
  artifacts:
    paths:
      - node_modules/
      - local_modules/

build_project:
  stage: build
  script:
    - npx tsc -b
    - npx vite build
  artifacts:
    paths:
      - dist/
  only:
    - main

pages:
  stage: deploy
  dependencies:
    - build_project
  script:
    - mkdir -p public
    - cp -r dist/* public/
  artifacts:
    paths:
      - public
  only:
    - main
