image: node:22-alpine

stages:
  - install
  - build
  - deploy

cache: {}

variables:
  NODE_VERSION: "22"

install_dependencies:
  stage: install
  script:
    - npm i --legacy-peer-deps
  artifacts:
    paths:
      - node_modules/

build_project:
  stage: build
  script:
    - cd local_modules/bars-frontend-auth-libs && npm run build || echo "No build script"
    - cd ../bars-frontend-core && npm run build || echo "No build script"
    - cd ../bars-frontend-shared && npm run build || echo "No build script"
    - cd ../bars-frontend-versioning && npm run build || echo "No build script"
    - cd ../..
    - npm run build
  artifacts:
    paths:
      - dist/
  only:
    - main

pages:
  stage: deploy
  dependencies:
    - build_project
  script:
    - mkdir -p public
    - cp -r dist/* public/
  artifacts:
    paths:
      - public
  only:
    - main