image: node:18-alpine

stages:
  - install
  - build
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
    - .npm/

install_dependencies:
  stage: install
  script:
    - npm ci
  artifacts:
    paths:
      - node_modules/

build_project:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/
  only:
    - web

pages:
  stage: deploy
  dependencies:
    - build_project
  script:
    - cp -r dist/* public/
  artifacts:
    paths:
      - public
  only:
    - web