image: node:22-alpine

stages:
  - install
  - build
  - deploy

cache: {}

variables:
  NODE_VERSION: "22"

install_dependencies:
  stage: install
  script:
    - ls -la local_modules/ || echo "local_modules not found"
    - ls -la local_modules/bars-frontend-auth-libs || echo "bars-frontend-auth-libs not found"
    - ls -la local_modules/bars-frontend-core || echo "bars-frontend-core not found"
    - ls -la local_modules/bars-frontend-shared || echo "bars-frontend-shared not found"
    - ls -la local_modules/bars-frontend-versioning || echo "bars-frontend-versioning not found"
    - npm install --legacy-peer-deps
    - ls -la node_modules/bars-frontend-auth-libs || echo "bars-frontend-auth-libs not installed"
    - ls -la node_modules/bars-frontend-core || echo "bars-frontend-core not installed"
    - ls -la node_modules/bars-frontend-shared || echo "bars-frontend-shared not installed"
    - ls -la node_modules/bars-frontend-versioning || echo "bars-frontend-versioning not installed"
  artifacts:
    paths:
      - node_modules/


build_project:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/
  only:
    - main

pages:
  stage: deploy
  dependencies:
    - build_project
  script:
    - mkdir -p public
    - cp -r dist/* public/
  artifacts:
    paths:
      - public
  only:
    - main